<div class="container">
  <form [formGroup]="licenseForm" (ngSubmit)="submitQuery()" novalidate>
    <div class="form-group">
          <h3 class="has-info">{{feedbackMsg}}</h3>
          <input id="licensePlate" placeholder="AB123C" type="text" class="form-control"
                 formControlName="licensePlate" oninput="this.value = this.value.toUpperCase()" autofocus/>
          <button type="submit" class="btn btn-primary" [disabled]="!licenseForm.valid">Submit</button><br>
          <span class = "invalid-feedback">
            <span *ngIf="licenseForm.get('licensePlate').errors?.pattern">
              Alphanumeric characters only.
            </span>
            <span *ngIf="licenseForm.get('licensePlate').errors?.maxlength">
              Max character limit: 6.
            </span>
          </span><br>
          <textarea id="output" cols="30" rows="11" style="resize:none" readonly>{{carInfoString}}</textarea><br>
    </div>
  </form>
  <button [cdkCopyToClipboard]="carInfoString">Copy to clipboard</button>
</div>
